<section id="table">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><span ng-hide="listandoCategoriasFlag">Lista de Itens</span>
                    <span ng-show="listandoCategoriasFlag">Carregando Itens</span>
                </h2>
                <hr class="star-primary">
            </div>
            <div ng-show="loading" class="ajax-loader"><br/><br/><br/><br/><br/><img id="ajax-loader" src="img/ajax-loader.gif"></div>
            <!-- Tabela dinamica -->
            <table class="table table-striped table-hover" ng-hide="listandoCategoriasFlag">
                <thead>
                <tr>
                    <th>Editar</th>
                    <th>Título</th>
                    <th>Id</th>
                    <th>Criação</th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody id="tableItem">
                <!--section-table-line-->
                <tr ng-repeat="cat in categorias" section-table-line categoria="cat"
                    deletar-categoria-listener="removerLinha($index)"></tr>
                <!--section-table-line-->
                </tbody>
            </table>
            <!-- Fim Tabela dinamica -->
        </div>
    </div>
</section>
