<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Gerenciador de tarefas pessoais e projetos em grupo. Com a correria diária fica difícil muitas
                    vezes
                    manter a atenção em tudo o que você precisa fazer.</p>
            </div>
            <div class="col-lg-4">
                <p>O Just do it! permite montar listas de tarefas sem complicações, para abrir no momento no qual
                    elas
                    forem necessárias, além de compartilhar com os seus familiares ou outros colaboradores de um
                    projeto.</p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-sign-in"></i> Criar uma conta
                </a>
            </div>

        </div>
    </div>
</section>