<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Adicionar Item</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form ng-submit="salvar()" name="addItem" id="addItemForm" novalidate>
                    <fieldset ng-disabled="salvandoCategoriaFlag">
                        <div ng-class="{'has-error':erros.title}">
                            <div class="row control-group">
                                <div id="form-group-nome"
                                     class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Título</label>
                                    <input type="text" class="form-control" placeholder="Titulo" id="titleInput"
                                           required
                                           data-validation-required-message="Por favor insira um título."
                                           ng-model="categoria.title">

                                    <p id="help-block-title" class="help-block text-danger">{{erros.title}}</p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Descricao</label>
                            <textarea rows="5" class="form-control" placeholder="Descrição" id="descriptionInput"
                                      required
                                      data-validation-required-message="Por favor insira a descrição."
                                      ng-model="categoria.description"></textarea>

                                    <p id="help-block-description" class="help-block text-danger">
                                        {{erros.description}}</p>
                                </div>
                            </div>
                            <br>

                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-danger btn-lg">Adicionar</button>
                                    <img id="ajax-loader" src="img/ajax-loader.gif" hidden="hidden" class="ajax-loader"
                                         ng-show="salvandoCategoriaFlag"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
